<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{!-- Agregar un nuevo producto --}}

  <form id="add-product-form">
  <input type="text" name="name" placeholder="Nombre del producto">
  <input type="number" name="price" placeholder="Precio del producto">
  <button type="submit">Agregar producto</button>
</form>
{{!-- Eliminar un producto --}}

<ul>
  {{#each products}}
    <li>
      {{this.name}} - ${{this.price}}
      <button class="delete-product" data-id="{{@index}}">Eliminar</button>
    </li>
  {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script defer src="../public/js/realTime.js"></script>

</body>
</html>